<table class="w-full bg-[#F0F5F5]">
  <tr><td class=" text-[24px]">&nbsp;</td></tr>
  <tr>
    <td class="text-primary text-[24px] leading-[27px] pt-[1px] text-center font-bold px-[20px]">
      Sint cupidatat occaecat ut 
    </td>
  </tr>
  <tr><td class=" text-[24px]">&nbsp;</td></tr>
  <tr>
    <td class="px-[20px]">
      <table>
        <tr>
          <td class="w-[48%] sm:w-full sm:block bg-white text-center px-[10px]">
            <table class="align-center-table w-full ">
              <tr><td class=" text-[24px]">&nbsp;</td></tr>
              <tr>
                <td class="text-center ">
                    <x-image class="w-[80px]" imgUrl="image-6.png" href="#"/>
                </td>
            </tr>
            <tr><td class=" text-[14px]">&nbsp;</td></tr>
            <tr>
              <td class="text-primary text-[20px] leading-[23px]  text-center font-bold">
                Nisi ut ade 
              </td>
            </tr>
            <tr><td class=" text-[14px]">&nbsp;</td></tr>
            <tr>
              <td class="text-[#444444] text-[16px] leading-[19px]  text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.¹ 
              </td>
            </tr>
              <tr><td class=" text-[24px]">&nbsp;</td></tr>
            </table>
          </td>
          <td class="w-[4%] sm:w-full sm:block">&nbsp;</td>
          <td class="w-[48%] sm:w-full sm:block bg-white text-center px-[10px]">
            <table class="align-center-table w-full ">
              <tr><td class=" text-[24px]">&nbsp;</td></tr>
              <tr>
                <td class="text-center ">
                    <x-image class="w-[80px]" imgUrl="image-6.png" href="#"/>
                </td>
            </tr>
            <tr><td class=" text-[14px]">&nbsp;</td></tr>
            <tr>
              <td class="text-primary text-[20px] leading-[23px]  text-center font-bold">
                Duis aute irure 
              </td>
            </tr>
            <tr><td class=" text-[14px]">&nbsp;</td></tr>
            <tr>
              <td class="text-[#444444] text-[16px] leading-[19px]  text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.² 
              </td>
            </tr>
              <tr><td class=" text-[24px]">&nbsp;</td></tr>
            </table>
          </td>
      </table>
    </td>
  </tr>
  <tr><td class=" text-[24px]">&nbsp;</td></tr>
</table>
