<table class="w-full">
  <tr><td class=" text-[24px]">&nbsp;</td></tr>
  <tr>
    <td class="text-[12px] leading-[14px] px-[20px] font-bold text-black">
      Ut enim ad minim:
    </td>
</tr>
<tr><td class=" text-[14px]">&nbsp;</td></tr>
<tr>
  <td class="text-[12px] leading-[14px] px-[20px] text-black">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  </td>
</tr>
<tr><td class=" text-[14px]">&nbsp;</td></tr>
<tr>
  <td class="text-[12px] leading-[14px] px-[20px] text-black">
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  
  </td>
</tr>
<tr><td class=" text-[24px]">&nbsp;</td></tr>

<tr>
  <td class="text-[12px] leading-[14px] px-[20px] font-bold text-black">
    Sint occaecat cupidatat:
  </td>
</tr>
<tr><td class=" text-[14px]">&nbsp;</td></tr>
<tr>
  <td class="px-[20px]">
    <table>
      <tr>
        <td class="align-top text-[12px] leading-[14px] text-black w-[12px]">1.</td>
        <td class="pl-[6px] text-[12px] leading-[14px] text-black">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
    </tr>
    <tr><td class=" text-[3px]">&nbsp;</td></tr>
    <tr>
      <td class="align-top text-[12px] leading-[14px] text-black w-[12px]">2.</td>
      <td class="pl-[6px] text-[12px] leading-[14px] text-black">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat      </td>
  </tr>

    </table>
  </td>
</tr>
<tr><td class=" text-[24px]">&nbsp;</td></tr>
<tr>
  <td class="px-[20px]">
    <table class="w-full ">
      <tr>
        <td class="w-full h-[1px] bg-[#002b2b]">
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr><td class=" text-[24px]">&nbsp;</td></tr>
<tr>
  <td class="text-[12px] leading-[14px] px-[20px] text-center text-black">
    Sed do eiusmod tempor incididunt ut labore 
  </td>
</tr>
<tr><td class=" text-[14px]">&nbsp;</td></tr>
<tr>
  <td class="text-center ">
      <x-image class="w-[120px]" imgUrl="image-2.png" href="#"/>
  </td>
</tr>
<tr><td class=" text-[24px]">&nbsp;</td></tr>
</table>
