<table class="w-full">
  <tr><td class=" text-[14px]">&nbsp;</td></tr>
  <tr>
    <td class="px-[14px]">
      <table >
        <tr>
          <td class="w-[26%]  sm:w-[22%]">
            <table>
              <tr>
                  <td >
                      <x-image class="w-auto" imgUrl="image-2.png" href="#" />
                  </td>
              </tr>
          </table>
        </td>
        <td class="w-[2%]">
          &nbsp;
      </td>
          <td class="w-[72%]  sm:pl-[10px] sm:w-[76%]">
            <table>
              <tr>
                  <td class="text-[12px] leading-[14px] text-[#002b2b]">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </td>
              </tr>
          </table>
          </td>
          
        </tr>
      </table>
    </td>
  </tr>
  <tr><td class=" text-[14px]">&nbsp;</td></tr>
</table>
