<table class="w-full">
  <tr>
    <td class="pb-[1px]">
      <x-image class="w-[600px]" imgUrl="image-1.png" href="#" />
    </td>
  </tr>
  <tr><td class=" text-[24px]">&nbsp;</td></tr>
  <tr>
    <td class="text-primary text-[24px] leading-[27px] pt-[2px] text-center font-bold px-[20px]">
    Excepteur sint occaecat cupidatat 
    </td>
  </tr>
  <tr><td class=" text-[16px]">&nbsp;</td></tr>
  <tr>
    <td class="text-[#444444] text-[16px] leading-[19px]  text-center px-[20px]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
    </td>
  </tr>
  <tr><td class=" text-[16px]">&nbsp;</td></tr>
  <tr><td class="align-center-table text-center px-[20px]">
    <x-button href="#" class="bg-primary text-white text-center align-center-table text-[18px] leading-[21px] font-bold">
      Ut enim ad minim veniam
  </x-button>
</td></tr>
<tr><td class=" text-[24px]">&nbsp;</td></tr>
  
</table>
